@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
    margin: 0;
}

.nav-bar {
    height: 60px;
    width: 100%;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    opacity: 0.9;
    /* padding: 7px 20px; */
    position: relative;
}

.menu-left, .menu-right {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 18px; 
    padding-top: 20px;
    padding-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.menu-left a {
    background-color: #B09C6D;
    color: #FFF;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75em;
    border-radius: 1.5em;
    text-decoration: none;
    margin-left: 2.5em;
}

.menu-right a {
    margin-left: 1em;
}

.menu-right{
    margin-right: 2.5em;
}

.menu-right img{
    height: 21px;
}

#logo{
    width: 135px;
    height: 35.900px;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menu li a i{
    position: relative;
    top: -3px;
    left: 3px;
    opacity: 0.5;
}

.logos img{
    display: flex;
    padding: 0.25em;
}

.slider-image img{
    width: 100vw;
}

#order-online img{
    width: 10em;
    position: fixed;
    bottom: 15em;
    margin-left: 3em;
}