@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/foglihtenno07');

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    box-sizing: border-box;
    font-family: Heebo, 'Arial';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Heebo, 'Arial';
}

.nav-bar {
    height: 60px;
    width: 100%;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0px;
    z-index: 1000000;
}

.menu-left,
.menu-right {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 18px;
    padding-top: 20px;
    padding-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.menu-left a {
    background-color: #B09C6D;
    color: #FFF;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75em;
    border-radius: 1.5em;
    text-decoration: none;
    margin-left: 2.5em;
}

.menu-right a {
    margin-left: 2em;
}

.menu-right {
    margin-right: 2.5em;
}

.menu-right img {
    height: 21px;
}

#logo {
    width: 135px;
    height: 35.9px;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menu li a i {
    position: relative;
    top: -3px;
    left: 3px;
    opacity: 0.5;
}

.logos img {
    height: 18px;
    display: flex;
}

.slider-image {
    height: 500px;
    width: 100%;
    position: relative;
}

.slider-image img {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}

#order-online {
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#order-online img {
    width: 9.5em;
}

.Welcome {
    display: flex;
    overflow: hidden;
    position: relative;
    left: 2.5%;
    width: 90%;
    height: auto;
}

.Welcome img {
    transition: transform 0.6s ease;
    padding-right: 140px;
}

.Welcome img:hover {
    transform: scale(1.1);
}

#Welcome-Text {
    float: right;
    width: 50%;
}

#welcome-to {
    display: block;
    position: relative;
    color: gray;
    font-size: 16px;
    top: 70px;
}

#layer,
#bakeshop {
    display: inline;
    position: relative;
    top: 70px;
    font-family: 'FoglihtenNo07', sans-serif;
    font-size: 34px;
    line-height: 80px;
}

#layer {
    color: rgb(176, 156, 109);
}


#Welcome-Text p , .intro-text p{
    position: relative;
    top: 70px;
    text-align: justify;
    color: gray;
    margin-bottom: 30px;
}

#tags {
    display: flex;
    justify-content: space-between;
}

.circles {
    width: 100px;
    height: 100px;
    background-color: #EBE4DAE6;
    border-radius: 50%;
    position: relative;
    top: 70px;
}

.spn {
    color: black;
    position: relative;
    font-weight: bold;
    font-family: "Sen", sans-serif;
    font-size: 20px;
    top: 110px;
}

.introduction {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F9F5EA;
    padding: 0;
    margin: 0;
}

.introduction svg, .cream{
    width: 100%; 
    height: auto;
    position: absolute;
    fill: #B09C6D;
    opacity: 0.3;
    width: 100%;
    z-index: 1;
}

.intro-content, .app-container{
    display: flex;
    flex-direction: row;
    z-index: 2;
    width: 100%;
    margin-left: 4em;
}

.intro-to{
    display: block;
    position: absolute;
    color: gray;
    font-size: 16px;
    top: 90px;
}

#wide-variety, #cakes{
    display: inline;
    position: relative;
    top: 130px;
    font-family: 'FoglihtenNo07', sans-serif;
    font-size: 34px;
    line-height: 48px;
}

#wide-variety{
    color: rgb(176, 156, 109);
}

.intro-text {
    flex: 1;
    font-family: 'Georgia', serif;
    color: #3A342F;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-right: 20px;
}

.intro-text p, .app-text p{
    font-size: 16px;
    top: 130px;
    text-align: justify;
    color: gray;
    margin-bottom: 30px;
    line-height: 26px;
}

.intro-images {
    display: flex;
    flex-direction: row;
    
}

.intro-image {
    width: 457px;
    height: auto;
    margin: 20px;
}

.button {
    width: 100%;
    background-color: #B09C6D;
    color: white;
    padding: 14px 20px;
    text-align: center;
    font-size: 13px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    position: relative;
    top: 120px;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(160, 145, 97);
}

.introduction {
    position: relative;
    overflow: hidden; 
}

.introduction::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, rgba(160, 145, 97, 1), transparent);
    z-index: 1; 
    pointer-events: none;
}

.intro-content {
    position: relative;
    z-index: 2;
}

.bars {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box; 
    overflow: hidden; 
}

.side-img {
    flex-basis: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.side-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    flex-basis: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.section-title {
    font-family: 'FoglihtenNo07', sans-serif;
    font-size: 34px;
    text-align: center;
    margin-bottom: 40px;
}

.section-title span {
    font-family: 'FoglihtenNo07', sans-serif;
    font-size: 34px;
    color: rgb(176, 156, 109);
}

.cakes-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cake {
    width: 300px;
    height: auto;
    flex: 1;
}

.cake img {
    width: 281px;
    height: auto;
}

.cake-title{
    text-decoration: none;
}

.cake-title h3{
    margin-top: 10px;
    color: #000000;
    font-size: 22px;
    font-family: 'FoglihtenNo07', sans-serif;
    line-height: 31px;
}

.cake-title :hover{
    color: #B09C6D;
}

.cake-description {
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    color: #777;
}

.cake-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: rgb(176, 156, 109);
}

.quantity-control {
    display: flex;
    align-items: center;
}

.increment{
    color: rgb(165, 165, 165);
    border: none;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.quantity-control input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
}

.quantity-control button:hover {
    background-color: #d18d4e;
}


.custom-input::-webkit-outer-spin-button,
.custom-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input {
    -moz-appearance: textfield;
    border: none; 
    background-color: rgba(231, 231, 231, 0.504); 
    padding: 5px; 
    width: 50px;
    border-radius: 50%;
}


.add-to-cart{
    background-color: #B09C6D;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 13px;
    font-family: 'Arial', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.app-footer{
    transform: rotate(180deg);
    fill:#B09C6D;
    opacity: 0.5;
}


.app-download-section {
    position: relative;
    background-color: #f9f2e7;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: auto;
}


.app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.app-text {
    flex: 1;
    text-align: left;
}

.app-intro{
    top: 140px;
}

.app-text p {
    width: 29%;
    position: absolute;
    top: 250px;
    left: -20px;
    font-size: 16px;
    color: #7b6b55;
    text-align: center;
}

.app-text h1{
    display: inline;
    position: relative;
    font-family: 'FoglihtenNo07', sans-serif;
    font-size: 34px;
    line-height: 48px;
    top: 180px;
}
.ios{
    color: rgb(176, 156, 109);   
}

.app-text .android-text {
    font-weight: bold;
    color: #3b3b3b;
}

.app-description {
    font-size: 16px;
    color: #7b6b55;
}

.app-image {
    position: relative;
    display: flex;
    flex: 1;
}

.scooter-img {
    position: relative;
    top: 100px;
    left: 800px;
    width: 400px;
    height: auto;
    animation: scooterMove 3s infinite alternate;
}

@keyframes scooterMove {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(50px);
    }
}

.app-buttons {
    margin-right: 59%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.store-btn {
    width: 183px;
    height: auto;
}

.free-delivery-text h2, .free-delivery-text span{
    font-family: 'FoglihtenNo07', sans-serif;
    margin-top: 30px;
    color: #b58d52;
    font-size: 32px;
}

.free-delivery-text h2{
    margin-left: 10%;
}
.free-delivery-text span{
    color: #000000;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .slider-image {
        height: auto;
    }

    .Welcome img {
        width: 100%;
        margin: 1em;
    }

    #order-online {
        top: 40%;
    }

    #order-online img {
        width: 8em;
    }
}

.valued-customers{
    position: relative;
}

.testi-img{
    margin-top: -10px;
    transform: rotate(0deg);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.valued-customers {
    background: linear-gradient(to bottom, #fff, #BBE6F1);
    position: relative;
}

.section-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 40px;
    color: #000000;
}

.section-title span {
    color:#B09C6D;
}

.valued-customers::after {
    display: block;
    background-size: cover;
    height: 100px;
    position: absolute;
}

.test-cream{
    width: 100%; 
    height: auto;
    fill: #BBE6F1;
    width: 100%;
    z-index: 1;
}

.indulge-section {
    display: flex;
    position: relative;
    background-color: white;
}

.section-heading {
    font-family: 'FoglihtenNo07', sans-serif;
    font-size: 34px;
    color: #000000;
    line-height: 48px;
    text-align: center;
}

.section-heading span {
    font-family: 'FoglihtenNo07', sans-serif;
    color: #b09c6d;
    font-size: 34px;
    line-height: 48px;
}

.video-and-images {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.youtube-video {
    width: 814px;
    height: 458px;
    z-index: 1000;
}
.youtube-video iframe{
    width: 814px;
    height: 458px;
}

.decorative-img {
    max-width: 100%;
    height: auto;
}

.left-image{
    left: 10px;
}
.right-image{
    right: 40px;
}

.left-image, .right-image {
    position: absolute;
    width: 380px;
    height: 600px;
}

footer {
    background-color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #7c6c50;
}

.foot-png{
    width: 100%;
    position: relative;
    z-index: 1;
}

.foot2{
    position: absolute;
    bottom: -30px;
    left: 0px;
}

.footer-container {
    position: relative;
    top: -50px;
    z-index: 1000;
}

.footer-container p {
    font-size: 16px;
    margin: 0;
    color: #7b7b7b;
}

.footer-container p span{
    color: #b09c6d;
    font-weight: 500;
}

.footer-container p a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.footer-container p a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    font-size: 25px;
    margin: 0 5px;
    color: #7c6c50;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #be9e56;
}

/* footer::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('/assets/Footer.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
} */