<div class="container allCon al">
    <h1 class="text-center mt-4">Analytics</h1>
    <h5 class="mt-4">Total Sales: <%= analytics.totalSales %></h5>
    <h5 class="mt-4">Total Products: <%= analytics.totalProducts %></h5>
    <h5 class="mt-4">Top-Selling Product: <%= analytics.topSelling %></h5>
</div>